:root {
    --checkbox-width: 3.75em
}

.shift_req_container {
    border: 2px solid #374956;
    border-radius: 0.25em;
    margin-bottom: 0.75rem;
    text-align: center;
    cursor: pointer;
}

.shift_req_input {
    border: 2px solid #374956;
    border-radius: 0.25em;
    text-align: center;
}

.checkbox-div {
    display: inline-block;
    border: 2px solid #374956;
    border-radius: 0.25em;
    cursor: pointer;
    width: var(--checkbox-width);
}

.checkbox-div:hover,
.avail-div:hover {
    background-color: #f0f0f0;
}

.checkbox-div label {
    margin-bottom: 0px;
    font-size: 15px;
}


.checkbox-div.checked,
.avail-div.checked {
    background-color: hsl(195, 85%, 41%);
}

td, th {
    min-width: 7em;
    max-width: 9em;
    border-inline: 1px solid #1f2d38;
    padding-inline: .75em;
    /* border-bottom: none; */
}

.schedule-view td, .schedule-view th {
    min-width: 9em;
    max-width: 11em;
    cursor: pointer;
}

.avail-div {
    cursor: pointer;
    text-align: center;
    padding: 5px;
}

.avail-div label {
    font-size: 30px;
}

.avail-select-wrapper h1 {
    height: 30px;
    display: inline;
}

.avail-select-wrapper select {
    width: 25%;
    display: inline;
}

.staff-dropdown-shifts {
    display: inline;
    padding: 1px;
    font-size: 0.875em;
    margin-bottom: 11px;
}

.wrapper-nxt-prv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-nxt-prv button {
    padding: 10px;
    max-width: fit-content;
    margin-inline: 1rem;
}

.wrapper-nxt-prv h1 {
    margin-bottom: auto;
}

.scheduled-shift,
.unscheduled-shift {
    margin-bottom: 11px;
}

.red:hover {
    background-color: #fe6666;
    outline: 2px solid #fbfbfb;
}

button.red{
    border-color: #72170F;
}

.scheduled-shift.red:hover {
    margin-bottom: 7px;
}

.scheduled-shift.isAvailable {
    background-color: hsl(195, 85%, 41%);
}

.unscheduled-shift:hover {
    background-color: #66feb7;
    outline: 2px solid #fbfbfb;
}

.flashes li{
    list-style: none;
}

.flashes {
    text-align: center;
    background-color: rgb(115, 116, 126);
}

summary {
    font-weight: 700;
    font-size: 1.5rem;
}

td > input{
    background-color: transparent;
    border: none;
    color: #969eaf;
    font-size: medium;
}