{% extends "base.html" %}

{% block content %}

<main class="container">

    <form action="{{ url_for('submit_availability') }}" method="POST">

    {% if username == "admin" %}
    <div class="avail-select-wrapper">
        <h1>Enter Availability for:</h1>
        <select name="avail-for">
            {% for name in names %}
            <option value="{{name}}">{{name}}</option>
            {% endfor %}
        </select>
    </div>
    {% else %}
    <h1>Enter Availability:</h1>
    {% endif %}

        <table>
            <thead>
                <tr>
                    <th onclick="checkBoth('mon')">Monday</th>
                    <th onclick="checkBoth('tue')">Tuesday</th>
                    <th onclick="checkBoth('wed')">Wednesday</th>
                    <th onclick="checkBoth('thu')">Thursday</th>
                    <th onclick="checkBoth('fri')">Friday</th>
                    <th onclick="checkBoth('sat')">Saturday</th>
                    <th onclick="checkBoth('sun')">Sunday</th>
                </tr>
            </thead>
            <tbody>
                <tr class="AM">
                    {% for day in days_of_week %}
                    <td class="avail-div" id="{{day}}-div-AM" onclick="toggleCheck('{{day}}','AM')">
                        <input type="checkbox" name="{{day}}-av-AM" value="AM" id="{{day}}-av-AM" style="display: none;">
                        <label id="{{day}}-label-AM"> AM</label>
                    </td>
                    {% endfor %}
                </tr>
                <tr class="PM"></tr>
                {% for day in days_of_week %}
                <td class="avail-div" id="{{day}}-div-PM" onclick="toggleCheck('{{day}}','PM')">
                    <input type="checkbox" name="{{day}}-av-PM" value="PM" id="{{day}}-av-PM" style="display: none;">
                    <label id="{{day}}-label-PM"> PM</label>
            </td>
                {% endfor %}
                </tr>
            </tbody>
            </table>
        <div class="grid">
            <button type="button" class="contrast" onclick="document.querySelector('dialog').open = true;" >Enter Custom Value</button>
            <div></div>
            <button type="button" class="secondary" onclick="cancelForm()">Cancel</button>
            <button type="submit">Submit</button>
        </div>
    </form>

    <dialog>
        <article>
            <h2>Add Custom Availability</h2>
            <form id="customAvail" onsubmit="customAvailability(event)">
                <label for="start">Start Time:</label>
                <input type="time" id="start" name="start" required>
                <label for="end">End Time:</label>
                <input type="time" id="end" name="end" required>
                <select id="day" name="day" required>
                    <option value="mon">Monday</option>
                    <option value="tue">Tuesday</option>
                    <option value="wed">Wednesday</option>
                    <option value="thu">Thursday</option>
                    <option value="fri">Friday</option>
                    <option value="sat">Saturday</option>
                    <option value="sun">Sunday</option>
                </select>

                <footer class="grid">
                    <button class="secondary" onclick="document.querySelector('dialog').open = false;" type="button">
                        Cancel
                    </button>
                    <button type="submit">Confirm</button>
                </footer>
            </form>
        </article>
    </dialog>
</main>

<script src="static/js/availability.js"></script>

{%endblock%}