{% extends "base.html" %}

{% block content %}
<script src="static/js/availability.js"></script>

<main class="container">

    <form action="{{ url_for('submit_availability') }}" method="POST">

    {% if username == "admin" %}
    <div class="avail-select-wrapper">
        <h1>Enter Availability for:</h1>
        <select name="avail-for">
            {% for name in names %}
            <option value="{{name}}">{{name}}</option>
            {% endfor %}
        </select>
    </div>
    {% else %}
    <h1>Enter Availability:</h1>
    {% endif %}

        <table>
            <thead>
                <tr>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label><input type="checkbox" name="monday-av[]" value="AM"> AM</label>
                        <label><input type="checkbox" name="monday-av[]" value="PM"> PM</label>
                    </td>
                    <td>
                        <label><input type="checkbox" name="tuesday-av[]" value="AM"> AM</label>
                        <label><input type="checkbox" name="tuesday-av[]" value="PM"> PM</label>
                    </td>
                    <td>
                        <label><input type="checkbox" name="wednesday-av[]" value="AM"> AM</label>
                        <label><input type="checkbox" name="wednesday-av[]" value="PM"> PM</label>
                    </td>
                    <td>
                        <label><input type="checkbox" name="thursday-av[]" value="AM"> AM</label>
                        <label><input type="checkbox" name="thursday-av[]" value="PM"> PM</label>
                    </td>
                    <td>
                        <label><input type="checkbox" name="friday-av[]" value="AM"> AM</label>
                        <label><input type="checkbox" name="friday-av[]" value="PM"> PM</label>
                    </td>
                    <td>
                        <label><input type="checkbox" name="saturday-av[]" value="AM"> AM</label>
                        <label><input type="checkbox" name="saturday-av[]" value="PM"> PM</label>
                    </td>
                    <td>
                        <label><input type="checkbox" name="sunday-av[]" value="AM"> AM</label>
                        <label><input type="checkbox" name="sunday-av[]" value="PM"> PM</label>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="grid">
            <div></div>
            <div></div>
            <button type="button" class="secondary" onclick="cancelForm()">Cancel</button>
            <button type="submit">Submit</button>
        </div>
    </form>
</main>


{%endblock%}