<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bear Schedule</title>
    <script src="https://kit.fontawesome.com/d3641edd19.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.min.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/additions.css') }}">
</head>
<body>

    {% block navbar %}
    <nav class="container-fluid">
        <ul>
            <strong>
                <li><a href="{{ url_for('schedule_view')}}" class="contrast"><strong>Bear</strong></a></li>
            </strong>
        </ul>
        <ul>
            <i class="fa-solid fa-gear fa-xl" style="color: #ffffff; padding-right: 15px; cursor: pointer;" onclick="window.location.href='/settings'"></i>              
            <li><a href="{{ url_for('auth.logout') }}" role="button" class="contrast">Logout</a></li>
        </ul>
    </nav>
    {%endblock%}

    {% block content %}

    {%endblock%}
</body>
</html>