{% extends 'base.html' %}

{% block content %}
<main class="container">
    <article class="grid">
        <div>

            <h1>Change Password</h1>
            <p>Enter the phone number you used to create your account, and we'll send you a temporary password. 
            </p>
        </div>
        <form action="/forgot_password" method="POST">
            <label for="phone">Phone Number:</label>
            <input type="tel" id="phone" name="phone" required>
            <button type="submit">Reset Password</button>
        </form>
    </article>
    {% if success %}
    <dialog open > 
        <article >
            <div>
                <h1>Success</h1>
                <p>A temporary password has been sent to your phone number.</p>
            </div>
            <footer>
                <a href="/" role="button" class="primary">Return to Login</a>
            </footer>
        </article>
    </dialog>
    {% endif %}
</main>
{% endblock %}