{% extends "base.html" %}

{% block content %}

{% block script %} 
<script > 
    window.needed_shifts = ('{{ shifts | tojson | safe }}');
    window.avails = '{{availabilities | tojson | safe }}'
</script> 
<script src="/static/js/newschedule.js" ></script>
{%endblock%}

<main class="container-fluid">
    <div class="container">
        <h1>New Schedule</h1>
    </div>

    <form method="POST">
        <table>
            <tr>
                <th>User</th>
                {% for day in days %}
                <th>{{ day }}</th>
                {% endfor %}
            </tr>
            {% for availability in availabilities %}
            <tr>
                <td>{{ availability }}</td>
                {% for day in days %}
                <td>
                    <div id="{{ availability }}_{{ day }}" class="grid">
                        <div id="{{ availability }}_{{ day }}_AM"></div>
                        <div id="{{ availability }}_{{ day }}_PM"></div>
                        <!-- Checkboxes will be added dynamically here -->
                    </div>
                </td>                
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <div class="grid">
            <div></div><div></div>
            <button type="button" onclick="cancelForm()" class="secondary">Cancel</button>
            <button type="submit">Update Schedule</button>
        </div>
    </form>
</main>
{%endblock%}