{% extends "base.html" %}

{% block content %}
{% block script %}
<script>
    window.needed_shifts = ('{{ needed_shifts | tojson | safe }}');
    window.schedule = ('{{ schedule | tojson | safe }}');
    window.names = ('{{ names | tojson | safe }}');
    window.username = ('{{ username | tojson | safe }}');
</script>
<!-- <script src="{{ url_for('static', filename='js/utils.js') }}" type="module"></script> -->
<script src="{{ url_for('static', filename='js/schedule_view.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>

{% if username=='admin' %}
<script src="{{ url_for('static', filename='js/schedule_view_manager.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/manager_additions.css') }}">
{%else%}
<script src="{{ url_for('static', filename='js/schedule_view_staff.js') }}"></script>
{%endif%}
{%endblock%}


<main class="container">

    <h1>Welcome, {{ username }}</h1>

    <div class="grid">
        <h3>Schedule for week of {{next_monday.strftime("%B %d, %Y") }}</h3>
        <div class="grid">
            <div></div>
            <div></div>
            <button onclick="textSchedule()" class="contrast">Text Schedule</button>
        </div>
    </div>
    <div class="wrapper-nxt-prv">
        <button class="outline contrast" onclick="modifyRouteParam(-1)">
            < </button>
                <table style="margin-bottom: 0;" class="schedule-view">
                    <tbody>
                        <tr>
                            <th>Shift</th>
                            {% for day, shifts in schedule.items() %}
                            <th>{{day}}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>AM</td>
                            {% for day, shifts in schedule.items() %}
                            <td id="{{day[0:3].lower()}}_AM">

                                {% for shift in shifts %}
                                {% if shift['shift'][1] != '5' %}
                                {% if shift['isAvailable'] %}
                                <div class="scheduled-shift {{day}}_{{shift.shift}}_{{shift.name}} isAvailable"
                                    id="{{day}}_{{shift.shift}}_{{shift.name}}"
                                    onclick="existingShiftClicked('{{ shift.name }}', '{{ day }}', '{{ shift.shift }}')">
                                    {{shift.shift }}: {{ shift.name }}</div>
                                {% else %}
                                <div class="scheduled-shift {{day}}_{{shift.shift}}_{{shift.name}}"
                                    id="{{day}}_{{shift.shift}}_{{shift.name}}"
                                    onclick="existingShiftClicked('{{ shift.name }}', '{{ day }}', '{{ shift.shift }}')">
                                    {{
                                    shift.shift }}: {{ shift.name }}</div>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>PM</td>
                            {% for day, shifts in schedule.items() %}
                            <td id="{{day[0:3].lower()}}_PM">
                                {% for shift in shifts %}
                                {% if shift['shift'][1] == '5' %}
                                {% if shift['isAvailable'] %}
                                <div class="scheduled-shift {{day}}_{{shift.shift}}_{{shift.name}} isAvailable"
                                    id="{{day}}_{{shift.shift}}_{{shift.name}}"
                                    onclick="existingShiftClicked('{{ shift.name }}', '{{ day }}', '{{ shift.shift }}')">
                                    {{
                                    shift.shift }}: {{ shift.name }}</div>
                                {% else %}
                                <div class="scheduled-shift {{day}}_{{shift.shift}}_{{shift.name}}"
                                    id="{{day}}_{{shift.shift}}_{{shift.name}}"
                                    onclick="existingShiftClicked('{{ shift.name }}', '{{ day }}', '{{ shift.shift }}')">
                                    {{
                                    shift.shift }}: {{ shift.name }}</div>
                                {%endif%}
                                {% endif %}
                                {% endfor %}
                            </td>
                            {% endfor %}
                        </tr>
                    </tbody>

                </table>
                <button class="outline contrast" onclick="modifyRouteParam(1)"> > </button>
    </div>
    <cite>*Editable</cite>
</main>

<div class="container">
    {% if username != 'admin' %}
    <h3>Next Week's Availability</h3>
    <table>
        <tr>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
        <tr>
            {% for day, avail in user_avail.items() %}
            {% if avail['start']=='11PM' and avail['end']=='12AM' %}
            <td>None</td>
            {% else %}
            <td>{{avail['start']}}-{{avail['end']}}</td>
            {% endif %}
            {% endfor %}
        </tr>
    </table>

    {% endif %}
    <div class="grid">
        <div></div>
        <div></div>
        <div></div>
        {% if username=='admin' %}
        <form action="/availability_form" method="GET">
            <button class="secondary" type="submit">Enter Availability</button>
        </form>
        <form action="/newschedule" method="GET">
            <button type="submit">Create Schedule</button>
        </form>
        {% else %}
        <form action="/availability_form" method="GET">
            <button type="submit">Enter Availability</button>
        </form>
        {%endif%}
    </div>
</div>


{%endblock%}