{% extends "base.html" %}

{% block content %}
<script src="{{ url_for('static', filename='js/settings.js') }}"></script>



<main class="container">
    <h1>Settings</h1>
    <br>
    {% if username=='admin' %}
    <h3>Here you can edit the amount of shifts you need covered each week</h3>
    <table>
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
        <tr>
            {% for day in needed_shifts %}
            <td>
                {% for shift in needed_shifts[day] %}
                <div class="shift_req_container red" onclick="removeReqShift('{{day}}', '{{shift}}')">{{ shift.shift }}</div>
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
    </table>
    <div class="grid">
        <div></div><div></div><div></div>
        <button class="primary" id="shiftInput_{{day}}" onclick="document.querySelector('dialog').open = true;">New Shift</button></div>

    <dialog>
        <article>
            <h2>Add New Required Shift</h2>
            <form action="/settings" method="post">
                <label for="start">Start Time:</label>
                <input type="time" id="start" name="start" required>
                <label for="end">End Time:</label>
                <input type="time" id="end" name="end" required>
                <label for="type">Shift Type:</label>
                <select id="type" name="type" required>
                    <option value="S" selected>Serving</option>
                    <option value="T">Training</option>
                    <option value="H">Host</option>
                </select>
                
                <fieldset role="group">
                    <input type="checkbox" id="modal-mon" name="mon" value="mon">
                    <label for="modal-mon">Mon</label>
                    <input type="checkbox" id="modal-tue" name="tue" value="tue">
                    <label for="modal-tue">Tue</label>
                    <input type="checkbox" id="modal-wed" name="wed" value="wed">
                    <label for="modal-wed">Wed</label>
                    <input type="checkbox" id="modal-thu" name="thu" value="thu">
                    <label for="modal-thu">Thu</label>
                    <input type="checkbox" id="modal-fri" name="fri" value="fri">
                    <label for="modal-fri">Fri</label>
                    <input type="checkbox" id="modal-sat" name="sat" value="sat">
                    <label for="modal-sat">Sat</label>
                    <input type="checkbox" id="modal-sun" name="sun" value="sun">
                    <label for="modal-sun">Sun</label>
                </fieldset>

                <!-- <div role="group">
                    <button>Button</button>
                    <button>Button</button>
                    <button>Button</button>
                  </div> -->
                  
                  
            <footer class="grid">
                <button class="secondary" onclick="document.querySelector('dialog').open = false;" type="button">
                    Cancel
                </button>
                <button type="submit" >Confirm</button>
            </footer>
            </form>
        </article>
    </dialog>

    {%endif%}
</main>

{%endblock%}